<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
  </head>
  <body>
    <b><%= title %></b>
    <p>Welcome to <%= title %></p>
    <ul>
      <% jsobj.results.forEach( function(job) { %>
  <li>
    <a href="#">
    <h2><%= job.jobtitle %></h2>
    <p><%- job.snippet %></p>
    </a>
  </li>
      <% }) %>
      </ul>
  </body>
</html>
